* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    background-image: url("ImageForArticle_23295_16680815010862881.webp");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 90%;
    max-width: 500px;
    background: rgba(240, 248, 255, 0.8); 
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.mindfullmoments {
    font-family: 'Brush Script MT', cursive;
    font-size: 65px;
    font-weight: bold;
    color: darkturquoise;
    margin-bottom: 20px;
    text-align: center;
}

.signin {
    font-size: 40px;
    text-align: center;
    color: mediumorchid;
}

.Alreadyhaveanaccount {
    text-align: center;
}

.label1, .label2, .label3 {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

.name,
.email,
.password {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 2px solid lightgray;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-container input {
    margin-right: 10px;
}

.notification {
    font-size: large;
    margin: 10px auto; 
    text-align: center;
    color: red; 
    width: fit-content; 
    padding: 5px 10px;   
 }

.submitbutton {
    width: 75%; 
    padding: 12px; 
    background-color: lightcoral;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin: 15px auto; 
    display: block; 
}

.submitbutton:hover {
    background-color: gray;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
}
